[project]
name = "dbt-demo"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dbt-core>=1.11.2",
    "dbt-duckdb>=1.10.0",
    "fastparquet>=2025.12.0",
    "pyarrow>=23.0.0",
]
